@use '../setting' as s;

// --- silent-classes (extend targets) ---
// placeholder hack
// https://csswizardry.com/2014/01/extending-silent-classes-in-sass
//

%radius {
	border-radius: s.$border-radius;
}

%visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
