@use '../setting' as s;

// --- silent-classes (extend targets) ---
// placeholder hack
// https://csswizardry.com/2014/01/extending-silent-classes-in-sass
//

/**
 * FLOW
 * Applies a margin to sibling elements based on a --flow-space custom property.
 */
@mixin flow($space: s.$flow-space) {
	& > * + * {
		margin-top: $space;
	}
}

%flow {
	margin-top: var(--flow-space, s.from-size('600'));
}

%radius {
	border-radius: s.$border-radius;
}

%visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
