@use '../setting' as s;

@mixin headline($highlight-name: null) {
	$color-maybe: if($highlight-name, s.from-color($highlight-name), null);

	font-size: s.from-size('700');
	max-width: 18ch;

	@include s.at-breakpoint('md') {
		font-size: s.from-size('800');
	}

	@include s.at-breakpoint('lg') {
		font-size: s.from-size('900');
	}

	&::after {
		content: '.';
		@if $color-maybe {
			color: $color-maybe;
		}
	}
}
