---
// file: src/components/Cta.astro
import { frontmatter as globalCta } from '../data/cta.md';

interface Props {
	cta?: {
		title: string;
		summary: string;
		buttonText: string;
		buttonUrl: string;
	};
}

const { cta: ctaProp } = Astro.props;
const cta = ctaProp ? ctaProp : globalCta;
---

{
	cta && (
		<article class="cta dot-shadow panel bg-dark-dark color-light">
			<div class="wrapper">
				<div class="cta__inner flow">
					{/* prettier-ignore */}
					<h2 class="cta__heading
						headline" data-highlight="quaternary">{cta.title}</h2>
					<p class="cta__summary measure-short">{cta.summary}</p>
					<div class="cta__action">
						<a class="button" data-variant="ghost" href={cta.buttonUrl}>
							{cta.buttonText}
						</a>
					</div>
				</div>
			</div>
		</article>
	)
}
