---
// file: src/components/cta.astro
import { fromCta, CtaData } from '../lib/collections';

interface Props {
	cta?: CtaData;
}

const { cta: ctaData } = Astro.props;
const cta = ctaData ? ctaData : (await fromCta()).data;
---

{
	cta && (
		<article class="cta dot-shadow panel bg-dark-dark color-light">
			<div class="wrapper">
				<div class="cta__inner flow">
					{/* prettier-ignore */}
					<h2 class="cta__heading
						headline" data-highlight="quaternary">{cta.title}</h2>
					<p class="cta__summary measure-short">{cta.summary}</p>
					<div class="cta__action">
						<a class="button" data-variant="ghost" href={cta.button.url}>
							{cta.button.text}
						</a>
					</div>
				</div>
			</div>
		</article>
	)
}
