---
// file: src/components/PageHeader.astro

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="page-header bg-light-light">
	<div class="wrapper flow">
		<!-- prettier-ignore -->
		<h1 
		  class="page-header__heading headline"
			data-highlight="primary"
		>{title}</h1>
		{
			Astro.slots.has('default') && (
				<div class="page-header__summary measure-long">
					<slot />
				</div>
			)
		}
	</div>
</div>
