---
// file: src/components/Pagination.astro
import type { PaginationArgs } from '../types';

interface Props {
	args: PaginationArgs;
}

const {
	args: { anchor, next, previous },
} = Astro.props;

const nextHref = next ? (anchor ? next.href + anchor : next.href) : undefined;
const previousHref = previous ?(anchor ? previous.href + anchor : previous.href) : undefined;

---

{
	(nextHref || previousHref) && (
		<footer class="pagination dot-shadow panel bg-light-light font-sans weight-bold">
			<div class="wrapper">
				<nav class="pagination__inner" aria-label="Pagination links">
					{previousHref && (
						<a href={previousHref} data-direction="backwards">
							<span>{previous?.label ?? 'Previous'}</span>
						</a>
					)}
					{nextHref && (
						<a href={nextHref} data-direction="forwards">
							<span>{next?.label ?? 'Next'}</span>
						</a>
					)}
				</nav>
			</div>
		</footer>
	)
}
