---
// file: src/components/pagination.astro
import type { PaginationArgs } from '../types';

interface Props {
	args: PaginationArgs;
}

const {
	args: { anchor, next, previous },
} = Astro.props;

const nextHref = next ? (anchor ? next.href + anchor : next.href) : undefined;
const previousHref = previous ?(anchor ? previous.href + anchor : previous.href) : undefined;

---

{
	(nextHref || previousHref) && (
		<footer class="c-pagination">
			<div class="c-pagination__wrapper">
				<nav class="c-pagination__inner" aria-label="Pagination links">
					{previousHref && (
						<a href={previousHref} class="c-pagination__previous">
							<span>{previous?.label ?? 'Previous'}</span>
						</a>
					)}
					{nextHref && (
						<a href={nextHref} class="c-pagination__next">
							<span>{next?.label ?? 'Next'}</span>
						</a>
					)}
				</nav>
			</div>
		</footer>
	)
}
