---
// file: src/components/people.astro
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
	people: CollectionEntry<'people'>[];
}

const { people } = Astro.props;
---
{
	people.length > 0 && (
		<div class="c-people">
			<ol>
				{people.map(({ data: { title, name, image } }) => (
					<li>
						<figure class="c-person">
							<Image
								class="c-person__image"
								src={image.src}
								alt={'Image of ' + name}
								draggable="false"
							/>
							<figcaption class="c-person__details">
								<span class="c-person__name">{name}</span>
								<span>{title}</span>
							</figcaption>
						</figure>
					</li>
				))}
			</ol>
		</div>
	)
}
