---
// file: src/components/people.astro
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
	people: CollectionEntry<'people'>[];
}

const { people } = Astro.props;
---
{
	people.length > 0 && (
		<div class="people">
			<ol class="auto-grid">
				{people.map(({ data: { title, name, image } }) => (
					<li>
						<figure class="person frame" data-frame="quaternary">
							<Image
								class="person__image radius"
								src={image.src}
								alt={'Image of ' + name}
								draggable="false"
							/>
							<figcaption class="person__details leading-tight">
								<span class="person__name font-sans weight-bold">{name}</span>
								<span class="person__title">{title}</span>
							</figcaption>
						</figure>
					</li>
				))}
			</ol>
		</div>
	)
}
