---
// file: src/components/post-list.astro
import type { CollectionEntry } from 'astro:content';
import { hrefFromPostSlug } from '../route-path';

interface Props {
	posts: CollectionEntry<'posts'>[];
	headline?: string;
}

const { headline, posts } = Astro.props;
---

<div class="dot-shadow panel bg-secondary-light" id="post-list">
	<div class="wrapper flow flow-space-700">
		{
			headline && /* prettier-ignore */ <h2 class="headline measure-micro" data-highlight="primary">{headline}</h2>
		}
		<div>
			<ol class="post-list flow">
				{
					posts.map((item) => (
						<li class="post-list__item leading-tight measure-long">
							<a href={hrefFromPostSlug(item.slug)} class="post-list__link">
								{item.data.title}
							</a>
						</li>
					))
				}
			</ol>
		</div>
	</div>
</div>
