---
// file: src/components/site-head.astro
import Brand from './brand.astro';
import { SITE_NAME } from '../consts';

const navigations = [
	['/', 'Home'],
	['/about-us', 'About'],
	['/work', 'Work'],
	['/blog', 'Blog'],
	['/contact', 'Contact'],
];

const activeProps = (targetPath: string, current: string) => {
	const props: Record<string, string> = {};

	if (targetPath === current) props['aria-current'] = 'page';

	if (targetPath.length > 1 && current.startsWith(targetPath))
		props['class'] = 'js:c-nav--active';

	return props;
};
---

<a class="c-skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="c-site-head">
	<div class="c-site-head__outer">
		<div class="c-site-head__inner">
			<a href="/" aria-label={`${SITE_NAME} - home`} class="c-site-head__brand">
				<Brand />
			</a>
			<nav class="c-nav" aria-label="Primary">
				<ul class="c-nav__list">
					{
						navigations.map(([pathname, name]) => (
							<li>
								<a
									href={pathname}
									{...activeProps(pathname, Astro.url.pathname)}
								>
									{name}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>
	</div>
</header>
