---
// file: src/components/SiteHead.astro
import Brand from './Brand.astro';
import config from '../site-config';
const { siteName } = config;

const navigations = [
	['/', 'Home'],
	['/about-us', 'About'],
	['/work', 'Work'],
	['/blog', 'Blog'],
	['/contact', 'Contact'],
];

const activeProps = (targetPath: string, current: string) => {
	const props: Record<string, string> = {};

	if (targetPath === current) props['aria-current'] = 'page';

	if (targetPath.length > 1 && current.startsWith(targetPath))
		props['data-active'] = 'active';

	return props;
};
---

<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
	<div class="wrapper">
		<div class="site-head__inner">
			<a href="/" aria-label={`${siteName} - home`} class="site-head__brand">
				<Brand />
			</a>
			<nav class="nav site-head__nav font-sans" aria-label="Primary">
				<ul class="nav__list">
					{
						navigations.map(([pathname, name]) => (
							<li>
								<a
									href={pathname}
									{...activeProps(pathname, Astro.url.pathname)}
								>
									{name}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>
	</div>
</header>
