---
// file: src/components/StudioFeed.astro
import { studio as items } from '../lib/studio';

const studio = await items(fetch);
const { studioFeed } = Astro.props;
---

{
	studio.length && (
		<article class="studio-feed dot-shadow panel bg-tertiary-light">
			<div class="wrapper flow flow-space-300">
				{/* prettier-ignore */}
				<h2 class="studio-feed__heading headline md:measure-micro" data-highlight="secondary">{studioFeed.title}</h2>
				<p class="visually-hidden" id="studio-feed-desc">
					A collection of images from around our studio and the people who work
					here.
				</p>
				<div class="studio-feed__items flow-space-700">
					<ul class="studio-feed__list">
						{studio.map((item) => (
							<li>
								<img
									src={item.medium}
									alt={item.alt}
									draggable="false"
									class="radius"
								/>
							</li>
						))}
					</ul>
				</div>
			</div>
		</article>
	)
}
