@use '../setting' as s;

.c-button {
	background: s.from-color('quaternary-light');
	border: 2px solid;
	border-radius: s.$border-radius;
	color: s.from-color('dark-dark');
	display: inline-block;
	font-family: s.from-font-family('sans');
	font-weight: s.from-font-weight('bold');
	padding: 0.5rem 2rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	// Make sure hover state trumps all variants with a good ol’ important
	&:hover {
		background: s.from-color('quaternary') !important;
		color: s.from-color('dark-dark') !important;
	}
}

// Add a ghost modifier
.c-button--ghost {
	background: transparent;
	color: s.from-color('quaternary-light');
}

