// file: src/styles/component/_pagination.scss
@use '../setting' as s;
@use '../generic/mixin' as g;
@use '../utility/mixin' as u;

.c-pagination {
	background-color: s.from-color('light-light');
	font-family: s.from-font-family('sans');
	font-weight: s.from-font-weight('bold');
	@include u.page-panel;

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& a {
			@include g.anchor;
		}
	}

	// Pushes a sole "next" link out to the right
	&__inner > &__next {
		margin-inline-start: auto;
	}
}
