// file: src/styles/component/_page-header.scss
@use '../setting' as s;
@use '../utility/mixin' as u;

.c-page-header {
	background: s.from-color('light-light');
	padding: s.from-size('800') 0;

	&__wrapper {
		@include u.wrapper;
	}

	&__content {
		max-width: s.from-measure('long');
	}

	& h1 {
		@include u.headline('primary');
	}
}
