@use '../setting' as s;
@use '../utility' as u;

.c-people-panel {
	background-color: s.from-color('light-light');
	@include u.page-panel;

	&__wrapper {
		--u-flow-space: #{s.from-size('700')};

		& h2 {
			@include u.headline('dark');
			color: s.from-color('quinary');
		}
	}
}
