@use '../setting' as s;
@use '../utility' as u;

.c-person {
	@include u.frame('quaternary');

	position: relative;
	height: 100%;

	&__details {
		background: s.from-color('quaternary');
		bottom: 0.5rem;
		line-height: s.from-line-height('tight');
		left: -0.25rem;
		padding: 0.8rem;
		position: absolute;
		width: calc(100% - 0.5rem);
	}

	&__image {
		filter: grayscale(1);
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: s.$border-radius;
	}

	&__name {
		display: block;
		font-family: s.from-font-family('sans');
		font-size: s.from-size('600');
		font-weight: s.from-font-weight('bold');
	}
}
