@use '../setting';
@use '../mixin';

.c-site-head {
	padding: setting.from-size('600') 0;

	&__outer {
		@include mixin.wrapper;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__brand {
		flex-shrink: 0;
		margin-inline-end: setting.from-size(
			'600'
		); // Prevents nav bunching up to the logo

		// Optical adjustment to account for the offset the sunken 3s create
		transform: translateY(0.25rem);

		svg {
			width: 100px;
		}
	}

	&__nav {
		padding: setting.from-size('300') 0;
	}

	@include setting.at-breakpoint('md') {
		&__brand {
			svg {
				width: 160px;
			}
		}
	}
}
