// file: src/styles/component/_skip-link.scss
@use '../setting' as s;
@use '../utility/mixin' as u;
@use 'button';

.c-skip-link {
	position: absolute;
	top: s.from-size('400');
	left: s.from-size('400');
	z-index: 99;

	&:not(:focus) {
		@include u.visually-hidden;
	}

	@extend .c-button;
}
