---
// file: src/layouts/about.astro
import Base from './base.astro';
import PageHeader from '../components/page-header.astro';
import People from '../components/people.astro';
import Cta from '../components/cta.astro';
import { fromPeople } from '../lib/collections';

interface Props {
	frontmatter: {
		title: string;
	};
}

const {
	frontmatter: { title },
} = Astro.props;
const entries = await fromPeople();
---

<Base title={title}>
	<article>
		<PageHeader title={title}>
			<slot />
		</PageHeader>
		{
			entries.length > 0 && (
				<div class="c-about">
					<div class="c-about__wrapper u-flow">
						{ /* prettier-ignore */}
						<h2>Meet the team</h2>
						<People people={entries} />
					</div>
				</div>
			)
		}
	</article>
	<Cta />
</Base>
