---
// file: src/layouts/About.astro
import Base from './Base.astro';
import PageHeader from '../components/PageHeader.astro';
import People from '../components/People.astro';
import Cta from '../components/Cta.astro';
import { fromPeople } from '../lib/collections';

interface Props {
	frontmatter: {
		title: string;
	};
}

const {
	frontmatter: { title },
} = Astro.props;
const entries = await fromPeople();
---

<Base title={title}>
	<article>
		<PageHeader title={title}>
			<slot />
		</PageHeader>
		{
			entries.length > 0 && (
				<div class="no-js-hidden panel dot-shadow bg-light-light ]">
					<div class="wrapper flow flow-space-700">
						<h2
							class="headline measure-micro color-quinary"
							data-highlight="dark"
						>
							Meet the team
						</h2>
						<People people={entries} />
					</div>
				</div>
			)
		}
	</article>
	<Cta />
</Base>
