---
// file: src/layouts/base.astro
import MetaInfo from '../components/meta-info.astro';
import { SITE_NAME } from '../consts';

import '@fontsource/literata/index.css';
import '@fontsource/literata/400-italic.css';
import '@fontsource/literata/400.css';
import '@fontsource/literata/900.css';
import '@fontsource/red-hat-display/index.css';
import '@fontsource/red-hat-display/400.css';
import '@fontsource/red-hat-display/900.css';
import '../styles/critical.scss';

interface Props {
	title: string;
	metaTitle?: string;
	metaDesc?: string;
	summary?: string;
	socialImage?: string;
}

import SiteHead from '../components/site-head.astro';
const { title, metaTitle, metaDesc, summary, socialImage } = Astro.props;

const metaArgs = {
	siteName: SITE_NAME,
	title,
	metaTitle,
	metaDesc,
	summary,
	socialImage,
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<MetaInfo args={metaArgs} />
	</head>
	<body>
		<div class="c-site-wrap">
			<SiteHead />
			<main tabindex="-1" id="main-content">
				<slot />
			</main>
      <footer role="contentinfo" class="c-site-foot">
        <div>
          <p>This is a made up agency for the course, <a href="https://piccalil.li/course/learn-eleventy-from-scratch/">“Learn Eleventy From Scratch”</a>.</p>
        </div>
      </footer>
		</div>
	</body>
</html>
