---
// file: src/layouts/page.astro
import Base from './base.astro';
import PageHeader from '../components/page-header.astro';

interface Props {
	frontmatter: {
		title: string;
	};
}

const {
	frontmatter: { title },
} = Astro.props;

---

<Base title={title}>
	<article>
		<PageHeader title={title} />
		<div class="c-page">
			<div class="c-page__wrapper u-flow" >
				<slot />
			</div>
		</div>
	</article>
</Base>
